log*
laststudent*
students.csv
readme.txt
chromedriver*
__pycache__
all_students2021-12.csv
*.pyc
Chromium.app
.DS_Store
*.pyc
*.pyc
allstudents.csv
auto-login.txt
z_allstudents.csv
fane.csv
.env
batch_signin.log
*.pyc
cResponse.txt
